<h1 class="text-center xtra-pad-btm">Edit Profile</h1>

<%= render 'form', profile: @profile %>

<div class="form-actions xtra-pad-btm"><%= link_to 'Back', profiles_path, class: 'btn btn-primary' %></div>