<h1 class="text-center xtra-pad-btm">Welcome to PetPlace!</h1>

<div class="shadow-box"><%= render "shared/carousel"%></div>
<div class="xtra-pad-top">
  <div class="card">
      <div class="card-body">
        <h2 class="text-center xtra-pad-top xtra-pad-btm">About Us:</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel ipsum eros. Sed pretium maximus nisi, nec tincidunt sem blandit non. Mauris ac elit convallis, ultrices leo ac, molestie tortor. Maecenas gravida mi nisl, in varius nibh facilisis ut. Etiam ullamcorper sem eget risus varius, non elementum nibh tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin mollis fringilla nibh, in egestas ipsum ultrices vel. Integer egestas mauris id ultrices porttitor. Phasellus ac mi id nisi blandit consectetur. Etiam rhoncus lorem nisl, at consequat orci congue at. Proin vel pretium dui, non ultrices ipsum. Nam sit amet leo faucibus, iaculis tortor at, porta massa.

          Donec eleifend laoreet eros a convallis. Aenean quis tincidunt ipsum. Sed massa sem, aliquam quis odio sit amet, accumsan finibus elit. Aliquam eget diam at metus porta pharetra sed ut mi. Nullam gravida, justo at tincidunt suscipit, massa ex hendrerit purus, vel consequat quam nibh tempus ex. Curabitur eu scelerisque nisi. Etiam nisi orci, condimentum eget bibendum sed, ultrices ut tellus. Maecenas eleifend magna nec est blandit, sit amet fermentum nisl pharetra. Morbi laoreet metus nunc, eget vulputate libero scelerisque et. Maecenas tempus in ex non tincidunt. Phasellus convallis vel ligula et elementum. Phasellus ac turpis ultricies, vulputate ex in, ultricies est.
      </div>
    </div>
</div>