<img src="/images/Donate.jpg" class="rounded mx-auto d-block img-fluid donation-img" alt="Donate">
<div class="form-actions">
  <button data-stripe="payment" class="btn btn-primary">Donate $5</button>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>